body {
}

.section{
    margin-top : 10px;
    border : double;
    padding-left : 10px;
    padding-top : -30px;
    padding-right : 10px;
    padding-bottom : 10px;
    /*padding : 10px -30px 10px 10px;*/
}

.done-1{
    text-decoration : line-through;
    color : grey
}

.list{
    list-style : none;
    margin-left : -40px;
}

.list li{
    margin-bottom : 10px;
}

.addtb{
    width:150px;
}

.time{
    font-size : 80%;
}

.text{
    font-size : 120%;
    margin-left : 5px;
}